<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AdminSushiEntities" connectionString="metadata=res://*/AdminSushiEDM.csdl|res://*/AdminSushiEDM.ssdl|res://*/AdminSushiEDM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=ADMINSUSHI&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>